.card-course {
    width: 70%;
    height: 300px;
    background: #ffffff;
    font-size: 40px;
    margin: 20px;
    border-radius: 4px;
    text-align: center;
    padding: 100px;
    margin-left: 200px;
}

.card-back {
        
        width: 70%;
        height: 300px;
        background: #ffffff;
        font-size: 40px;
        margin: 20px;
        border-radius: 4px;
        text-align: center;
        padding: 100px;
        margin-left: 200px;
}
.slide-container {
    direction: ltr;
    width: 50%;
    margin: auto;
  }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}
.react-slideshow-container .nav[data-type="prev"] span {
  margin-left: 5px;
  border-right: none;
  border-top: none;
}
.react-slideshow-container .nav[data-type="next"] span {
  margin-right: 5px;
  border-left: none;
  border-bottom: none;
}
.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.each-fade {
  display: flex;
}
.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}
.each-fade .image-container img {
  width: 100%;
}
.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
.react-slideshow-container + div.indicators > div:last-of-type {
  margin-right: 10px;
}

.list-detail{
  width: 70%;
  font-size: 20px;
}

.list-card{
  margin: auto;
}

.editxoa{
  font-size: 20px;
  padding: 10px;
  height: 70px;
  margin-left: 300px;
  border-radius: 5px;
}