.card-course {
    width: 1000px;
    height: 300px;
    background: #ffffff;
    font-size: 40px;
    margin: 20px;
    border-radius: 4px;
    text-align: center;
    padding: 100px;
}

.card-back {
        width: 1000px;
        height: 300px;
        background: #ffffff;
        font-size: 40px;
        margin: 20px;
        border-radius: 4px;
        text-align: center;
        padding: 100px;
}