.navbar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #282e3e;
    font-weight: bold;
}

.detail{
    font-size: 20px;
}

.createList {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 5px;
    color: blacks;
}

#lietke{
    list-style: none;
}
.detail div{
    padding: 5px 15px;
}
.detail div:hover{
    background: #d6d6d4;
}

content{
    padding: '0 50px';
}

.infor{
    font-size: 20px;
}

.dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .dynamic-delete-button:hover {
    color: #777;
  }
  .dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
